/*------------------------------------*\
  #FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/
:root {
    /* colors */

    --global-color-neutral: #B3B3B3;
    --global-color-neutral-light: #b3b3b38f;
    --global-background-color: #121212;

    --global-html-color: var(--global-color-neutral);

    --border-color: #1DB954;

    /* transitions */
    --global-transitionTiming-alpha: cubic-bezier(0.420, 0.000, 0.580, 1.000);
    --global-transitionTiming-alpha-f: cubic-bezier(0.420, 0.000, 0.580, 1.000);
    /* --global-transitionTiming-alpha-x:  500ms ease-out; */

    --search-display: block;

    --search-main-width: 360px;

    --search-main-border-radius: 18px;

    --o-row-justify: center;

    --search-margin: calc(50% - var(--search-main-width)/2);

    --search-background-color: var(--global-background-color);
    --icon-fill: var(--global-color-neutral);
}

/*------------------------------------*\
  #GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles
*/

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
    color: #111;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #e85e00;
    color: white;
    text-shadow: none;
}

::selection {
    background: #e85e00;
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
  #Elements
\*------------------------------------*/

/*
    Elements: Images
    ---
    Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1 {
    font-family: "Times New Roman", serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 40px;
    margin: 0 0 24px;
}

/* Example inline media query */
@media (min-width: 768px) {
    h1 {
        font-size: 58px;
        line-height: 64px;
    }
}

h2 {
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

h3 {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: italic;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
    font-family: "Times New Roman", serif;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-size: 12px;
    line-height: 16px;
    padding-top: 8px;
    color: Grey;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    color: RoyalBlue;
    transition: all .1s ease-in-out;
}

a:visited,
a:active {
    color: BlueViolet;
}

a:hover,
a:focus {
    color: Crimson;
}

/*------------------------------------*\
  #objects
\*------------------------------------*/
.o-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 56.4em; /* 56.4 * 20px = 1128px */
}

.o-container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

.c-header__nav {
    display: flex;
    flex-direction: row;
    justify-content: ;
}
.c-header-logo {
    width: 200px;
}
.c-page {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #1DB954;
}

.c-canvas {
    mask-image: url('.c-mask');
}


.c-animate-logo {
    position: absolute;
    height: 500px;
    fill-opacity: 0.5;
    fill: #e85e00;
    transition: height 3s var(--global-transitionTiming-alpha);
}

.c-animate-logo-expand {
    height: 5000px;
}